body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  background-color: black;
}

button:hover {
  cursor: pointer;
}

.pure-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.the-header {
  background-image: url("../resources/header/wood.jpg");
  padding: 12px 16px;
}

.the-header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 35px;
  row-gap: 16px;
  flex-wrap: wrap;
  height: inherit;
}

.the-header-nav__links-list {
  display: flex;
  column-gap: 35px;
}

.the-header-nav__link {
  display: block;
  font-size: 12px;
  color: white;
  text-decoration: none;
}

.the-header-nav__buttons-list {
  display: flex;
  column-gap: 12px;
}

.the-header-nav__button {
  display: block;
  padding: 8px;
  background-color: #3697d3;
  font-size: 12px;
  line-height: 100%;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.the-header-nav__icons-list {
  display: flex;
  column-gap: 12px;
}

.the-header-nav__icon {
  width: 16px;
  height: 16px;
}

.top-nav {
  display: flex;
}

.logo-container {
  flex: 0;
  background-color: #3697d3;
  padding: 0 20px;
}

.logo-container__logo {
  display: block;
  width: 280px;
  height: 185px;
}

.top-nav__lists-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}

.top-nav__first-list,
.top-nav__second-list {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  column-gap: 32px;
  row-gap: 12px;
  flex: 1 1 0;
  flex-wrap: wrap;
  padding: 0 32px;
  font-size: 14px;
}

.top-nav__list-mobile-invisible {
  display: none;
}

.top-nav__first-list-link,
.top-nav__second-list-link {
  text-decoration: none;
}

.top-nav__first-list {
  background-color: white;
}

.top-nav__first-list-link {
  color: #3697d3;
}

.top-nav__first-list-button {
  border: none;
  background: transparent;
}

.top-nav__second-list {
  background-color: #e7ebed;
  box-shadow: 0 -2px 0 #dcdfe1;
  z-index: 1;
}

.top-nav__second-list-link {
  font-weight: bold;
  color: #1b1b1b;
}

.top-nav__second-list-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 6px;
  border: 3px solid #3697d3;
  background-color: white;
  width: 48px;
  height: 48px;
}

.top-nav__second-list-button-div {
  width: 80%;
  border-bottom: 3px solid #3697d3;
}

@media (min-width: 1360px) {
  .top-nav__list-mobile-invisible {
    display: block;
  }
  .top-nav__second-list-button-container,
.top-nav__second-list-button {
    display: none;
  }
}
.first-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 22px;
  height: 383px;
  padding: 0 16px;
  background-image: url("../resources/photos/home-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.first-article__header {
  font-size: 48px;
  margin: 0;
  font-weight: normal;
  text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.54);
  text-align: center;
}

.first-article__span {
  font-size: 24px;
  text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.54);
  text-align: center;
}

.the-main {
  background-color: #FFF4DB;
}

/*# sourceMappingURL=main.css.map */
